---
interface Props {
  className: string;
  text: string;
  variant?: "small" | "large";
  href?: string;
  target?: string;
}

const { className, text, variant = "large", href, target } = Astro.props;
import clsx from "clsx";
import * as styles from "./TextTile.css";
import Link from "../Link/Link.astro";
---

<div class={clsx(styles.container, className)}>
  {
    href ? (
      <Link href={href} target={target} className={clsx(styles.text[variant])}>
        {text}
      </Link>
    ) : (
      <p class={clsx(styles.text[variant])}>{text}</p>
    )
  }
</div>
