---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import DarkTile from "../components/DarkTile/DarkTile.astro";
import * as styles from "./index.css"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class={styles.body}>
    <div class={styles.gridContainer}>
      <DarkTile className={styles.oneColumGridSquare} text="One" />
      <DarkTile className={styles.oneColumGridSquare} text="Two"/>
      <DarkTile className={styles.twoColumGridSquare} text="Three" />
    </div>
  </body>
</html>
