---
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import TextTile from "../components/TextTile/TextTile.astro";
import * as styles from "./index.css";
import ImageTile from "../components/ImageTile/ImageTile.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class={styles.body}>
    <div class={styles.gridContainer}>
      <TextTile className={styles.oneColumGridSquare} text="Daniel" />
      <ImageTile className={styles.oneColumGridSquare} />
      <TextTile className={styles.oneColumGridSquare} text="Two" />
      <TextTile className={styles.twoColumGridSquare} text="Three" />
    </div>
  </body>
</html>
