---
import clsx from "clsx";
import * as styles from "./LinksTile.css";

interface Props {
  className: string;
}

const { className } = Astro.props;

const iconHeight = 100;
---

<div class={clsx(styles.container, className)}>
  <a href="https://twitter.com/danigo991" target="_blank" class={styles.icon}>
    <img src="/twitter.svg" alt="Twitter logo" height={iconHeight} />
  </a>
  <a href="https://github.com/danigo99" target="_blank" class={styles.icon}>
    <img src="/github.svg" alt="Github logo" height={iconHeight} />
  </a>
  <a
    href="https://www.linkedin.com/in/daniel-belo-goncalves"
    target="_blank"
    class={styles.icon}
  >
    <img src="/linkedin.svg" alt="LinkedIn logo" height={iconHeight} />
  </a>
</div>
