---
import * as styles from "./BlogPost.css";
const { frontmatter } = Astro.props;
---

<html>
  <head>
    <!-- Add other Head elements here, like styles and meta tags. -->
    <title>{frontmatter.title}</title>
  </head>
  <body class={styles.body}>
    <div class={styles.container}>
      <div class={styles.closeButton}>
        <a href="/"><img src="/close.svg" height={40} /></a>
      </div>
      <h1>{frontmatter.title}</h1>
      <div class={styles.date}>{frontmatter.date}</div>
      <slot />
    </div>
  </body>
</html>
